.warring-matrial{
    background-color:#ffbb33;
    color:white;
  }
  .warring-matrial:hover{
    background-color:#ffbb33;
    color:white;
  }
  .primary-matrial{
    background-color:#1867c0;
    color:white;
  }
  .primary-matrial:hover{
    background-color:#1867c0;
    color:white;
  }
  .success-metrial{
    background-color:#4caf50;
    color:white;
  }
  .error-metrial{
    background-color:#ff5252;
    color:white;
  }
  .secondry-metrial{
    background-color:#5cbbf6;
    color:white;
  }